html, body {
    max-width: 100%;
    overflow-x: clip;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

main, .main_content_wrapper {
    overflow: visible;
}

.d-none {
    display: none !important;
}

header, footer {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

header {
    background-color: #E76C1F;
    padding: 10px 0;
    width: 100%;
}

.nav_container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

main {
    width: 100%;
}

.main_content_wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    overflow: visible;
}

.main_dishes_container {
    width: auto;
    flex-grow: 1;
}

.hero_image_container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero_logo_container {
  display: flex;
  justify-content: center;
  margin-top: -116px;
}

.hero_logo_container img {
  width: 200px;
  height: auto;
}

.restaurant_header {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.restaurant_header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.headline_and_reviews {
    display: flex;
    align-items: center;
    gap: 24px;
}

.headline_and_reviews h1 span {
    color: #E76C1F;
}

.reviews {
    background-color: #FACAAC;
    padding: 4px 8px;
    border-radius: 4px;
}

.reviews img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.restaurant_header_text p {
    margin-top: 8px;
    text-align: center;
}

footer {
    background-color: #E76C1F;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    gap: 48px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav_item span {
    font-size: 16px;
}