.basket_wrapper {
    width: 350px;
    flex-grow: 1;
    border-left: 1px solid #E76C1F;
    padding: 16px;
    background-color: #363534;
}

.basket_sticky_container {
    width: 100%;
    height: 100vh;
    color: #FDEADC;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}